################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/MapEditor/.vs/MapEditor
/MapEditor/MapEditor/Assets/iso_rev.png
